<h1> Welcome to <%= @crm_app_name %> </h1>
<p> Main menu </p>
<p> This is the initial BitMaker project for the net. Feel free to give it your information, it won't share it with the NSA</p>
<!-- please complete me with links to other actions -->
</ul>